@model LexBlog.Models.Blog
           @{
               object routeValues = new { id = Model.Id };
               string controller = "Blogs";
           }
<div>
    @Html.ActionLink(Model.Title, "BlogView", controller, routeValues, new { @class = "blog-partial-link" })
    <p>@Model.Description</p>
    <p>Created by <span class="blog-partial-username">@Model.Owner.UserName</span> on @Model.Created.</p>
    <p>Last edited: @Model.Edited. Viewed @Model.Views times.</p>
</div>