<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-custom navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" rel="home" href='@Url.Action("Index","Home")' title="Home">
                    <img style="max-width:100px; margin-top: -7px;"
                         src="~/img/Logo.png">
                </a>             
            </div>
            

                @using (Html.BeginForm("SearchResult", "Blogs", FormMethod.Get, new { @class = "navbar-form navbar-left" }))
            {

                    <div class="form-group">
                        <input type="text" name="searchtext" class="form-control" placeholder="Search">
                    </div>
                    <input type="submit" class="btn btn-default" value="Submit">
            }


                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Browse <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href='@Url.Action("ViewResult","Blogs")'>Blogs</a></li>
                            <li><a href='@Url.Action("TagResult","Blogs")'>Tags</a></li>
                        </ul>
                    </div>
                

                <div class="navbar-collapse collapse">
                    @Html.Partial("_LoginPartial")
                </div>
                <div class="navbar-collapse collapse">
                    @Html.Partial("_BlogAdminButtons")
                </div>
            </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />

        <footer>
            <p>&copy; @DateTime.Now.Year - n´Rap Ltd.</p>
            @Html.ActionLink("About", "About", "Home") | @Html.ActionLink("Contact", "Contact", "Home")
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
